#courses:hover, #grades:hover {
    background-color: #ffa56d;
}

#attendance {
    background-color: #ffbb91;
}

.wholePage {
    background-color: #fff5e5;
    max-width: 1920px;
    height: 100%;
    min-height: 65vh;
    font-family: Arial;
}

.header {
    padding-top: 20px;
    text-align: center;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

td, tr, table, th {
    border: solid 2px black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

td {
    background-color: white;
}

th {
    background-color: #FF914D;
}

table {
    width: 96%;
    padding: 1%;
    margin: 0 auto;
}

.courseName:hover {
    text-decoration: underline;
}