{% extends "teacher_header.html" %}

{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',path='/css/announcement_teacher.css')}}">
{%endblock%}
{%block content%}
<div class="wholePage">
    <div class="header">
        <h1>Announcement</h1>
        {{course_name}} ({{course_id}} Section: {{course_sec}})
    </div>
    <div class="classBtn">
        <button type="button" class="btn" onclick="openPopUp()">Add Announcement</button>
    </div>
    <div class="announcementList" id="announcementList"></div>
    <div id="popUp" class="popUp">
        <h2>Add Announcement</h2>
        <form class="announcementForm" method="POST" action="/Teacher/Announcement/{{course_id}}/{{course_sec}}" enctype="multipart/form-data">
            <label for="topic" class="topicLB">Topic: </label>
            <input type="text" id="topic" name="topic"><br><br>
            <label for="description">Description: </label><br>
            <textarea id="description" name="content" rows="4" cols="50"></textarea><br><br>
            <input type="file" id="myFile" name="files" multiple="multiple"><br><br>
            <div class="buttons">
                <button type="submit" id="addBT" onclick="closePopUp()">Post</button>
                <button type="button" id="cancelBT" onclick="closePopUp()">Cancel</button>
            </div>
        </form>
    <div>
<div>
<script>
    let popUp = document.getElementById("popUp");

    function openPopUp() {
        popUp.classList.add("open_popup");
    }

    function closePopUp() {
        popUp.classList.remove("open_popup");
    }
    
    function displayAnnouncement(announcementDict) {
        let announcementList = document.getElementById("announcementList");
        let innerHTML = "";
        for (var key in announcementDict) {
            var announcement = announcementDict[key];
            innerHTML += "<div class='announcement'><button id='showBT' class='showBT'>" + key + " (" + announcement.date + ")<p class='showmore_less'>+</p>" + "</button><span class='more'>" + announcement.content + "<br><br>";
            if (announcement.file != []) {
                for (var i = 0; i < announcement.filename.length; i++) {
                    innerHTML += "<img src='{{url_for('static',path='clip_icon.png')}}' class='clip_icon'/><a class='upload' href='/static/announcement/uploaded/" + {{course_id}} +"/" + {{course_sec}} + announcement.filename[i] + "' download>" + announcement.filename[i] + "</a><br>";
                }
            }
            innerHTML += `<button class="deleteBT" onclick="deleteAnnouncement('${key}')">Delete</button></span></div>`;
        }
        announcementList.innerHTML = innerHTML;
    }
    displayAnnouncement({{announcement|tojson}});

    var coll = document.getElementsByClassName("showBT");
    
    for (var i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        var more_less = this.querySelector(".showmore_less");
        if (content.style.display == "none") {
            content.style.display = "block";
            more_less.innerHTML = "-";
        } else {
            content.style.display = "none";
            more_less.innerHTML = "+";
        }
      });
    }

    function deleteAnnouncement(topic) {
        fetch('/api/delete-announcement/{{course_id}}/{{course_sec}}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ topic: topic }),
        })
        .then(response => {
            if (response.status === 200) {
                alert("Announcement deleted successfully");
                location.reload();
            } else {
                alert("Failed to delete announcement");
            }
        });

    }

</script>
{%endblock%}