<!DOCTYPE HTML>
<html>
<head>
    <title>SEmester</title>
    {%block head%}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/header.css') }}">
    {% endblock %}
</head>
<body>
    <div class= "container">
        <div class= "banner"><img src="{{ url_for('static', path='/SEmesterBanner.png') }}" /></div>
        <div class="tabs">
            <div id="courses"><a href="{{ url_for('student_home') }}"><b>COURSES</b></a></div>
            <div id="grades"><a href="{{ url_for('student_grade_overview') }}"><b>GRADE OVERVIEW</b></div>
            <div id="attendance"><a href="{{ url_for('student_attendance_overview') }}"><b>ATTENDANCE OVERVIEW</b></a></div>
            <div id="space"></div>
            <div class="login">
                <button class="profile"><u>{{email}}</u></button>
                <div class="dropdown_content">
                    <a href="{{ url_for('profile') }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
        {%block content%}
        {% endblock %}
    </div>
</body>
</html>